{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
	{% include "layout/header.html.twig" %}

	<main class="flex-grow flex">
		{% block sideBar %}{% endblock %}
		<div class="flex-1 min-w-0">
			{% block content %}{% endblock %}
		</div>
	</main>

	{% include "layout/footer.html.twig" %}
{% endblock %}
